# Directories
common/
pycocotools/
pycocotools.egg-info/
coco/ 
cocoapi/pythonapi/coco/
interpretable-image/
prototypical-networks/
results/
SPANet/
robust-prototype-learning/
pretrained-models/
venv-msc-thesis/
coco.zip
__pycache__/
pycocotools.egg-info/
ProtoPNet/_pycache_/
plots/
best_models/
outdated_models/
visualbert/
shell_scripts/
test scripts/
old_results/
results_*/
caltech-101/
Food101/
backup/
final_*/
sudden_dropped_models/


# Individual files and scripts
ML-DAS-Ada-Snellius.pdf 
pycocoDemo.ipynb
unimodalPBN.py
scratch.ipynb
scratch.py
*.sh 
*.ps1
*.log 
dataset_stats_*.csv
gpu*.py 
production_gpu_calculator.py
main_part*.py
example_multiGPU_usage.py
check_gpu_usage.py
resnet18_model_multiGPU.py
vgg16_model_multiGPU.py
multimodal_PBN_explain.py
temp.txt
Data Preprocessing.ipynb

# Model files
*.pth
model.pth
ProtoPNet_resnet18_80train-20test-001lr_best_model.pth
ProtoPNet_vgg16_80train-20test-001lr-10classes-10prototypes_best_model.pth
ProtoPNet_resnet18_80train-20test-0.0001lr-10classes-30prototypes_best_model.pth
ProtoPNet_vgg16_80train-20test-0.0001lr-10classes-30prototypes_best_model.pth
ProtoPNet_vgg16_80train-20test-0.0001lr-10classes-30prototypes_model_in_progress.pth

# Python cache files
*.pyc
*.pyo
*.pyd
.Python

# Large PDF files
ProtoPNet/supp_this_looks_like_that.pdf
