# Directories
common/
pycocotools/
pycocotools.egg-info/
coco/ 
interpretable-image/
prototypical-networks/
results/
SPANet/
robust-prototype-learning/
pretrained-models/
venv-msc-thesis/
coco.zip
__pycache__/
pycocotools.egg-info/
ProtoPNet/_pycache_/
plots/
best_models/

MSc_thesis_PBNtraining1.sh

ML-DAS-Ada-Snellius.pdf 

cocoapi/pythonapi/coco/

coco.sh

pycocoDemo.ipynb

# Model files
*.pth
model.pth
ProtoPNet_resnet18_80train-20test-001lr_best_model.pth
ProtoPNet_vgg16_80train-20test-001lr-10classes-10prototypes_best_model.pth
ProtoPNet_resnet18_80train-20test-0.0001lr-10classes-30prototypes_best_model.pth
ProtoPNet_vgg16_80train-20test-0.0001lr-10classes-30prototypes_best_model.pth
ProtoPNet_vgg16_80train-20test-0.0001lr-10classes-30prototypes_model_in_progress.pth

# Python cache files
*.pyc
*.pyo
*.pyd
.Python

# Large PDF files
ProtoPNet/supp_this_looks_like_that.pdf
